@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: linear-gradient(to top, black, yellow);

}

* {
    font-family: "Poppins", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 940px;
    color: #000000;
    font-size: 20px;
    margin: 2%;
    text-decoration: none;
    margin-right: 8px;
    margin-bottom: 140px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    transition: 0.4s;
    cursor: pointer;
}

.logo {
    width: 70px;
}

.cultos {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 40px;
    padding: 20px;
    background-color: #000;
    text-align: center;
    border-radius: 10px;
}

.cultos h1 {
    font-family: 3px;
    color: #fff;
}

details {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    text-align: center;
    list-style-type: none;
}

summary:hover {
    cursor: pointer;
    transition: 0.4s;
}



.cultos p {
    color: #fff;
}

.cultos h2 {
    font-family: 3px;
    color: yellow;
}

.pessoas {
    height: 300px;
    width: 450px;
    padding: 10px;
    border-radius: 100px;
}

.kombie {
    width: 30%;
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 100px;


}

.celula {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 40px;
    padding: 20px;
    background-color: yellow;
    text-align: center;
    border-radius: 10px
}

iframe {
    margin-top: 20px;
}

footer {
    background-color: yellow;
    height: 50px;
}

footer p {
    color: #000;
    text-align: center;
    margin-top: 25px;
}

.whats img {
    object-fit: cover;
    object-position: center;
    height: 40px;
}

.freepik {
    opacity: 0;
    font-size: 5px;
    text-decoration: none;
    color: #000;
}

.whats {
    background-attachment: fixed;
    vertical-align: middle;
    border-style: none;
    margin-right: 0%;
    text-align: right;
}